*, *:before, *:after{
  box-sizing:border-box;
  margin: 0;
}
html, body{
  position:relative;
  width: 100%;
  height: 100%;
}
body {
  display:flex;
  align-items:center;
  justify-content:start;
  background-color:#B6F308;
}
.area {
  height: 11em;
  width: 100%;
  background-color: #fff;
}
.area .imgPikachu{
  width:20em;
  position:absolute;
}
